
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-container{
    background-color:  #f7f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav-container .logo {
    padding: 10px;
    
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.5rem;
}

.nav-container .logo:hover{
   background: #eb3941;
   
}

.center ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.center li {
    margin: 0;
}

.center li a {
    text-decoration: none; /* Remove underlines from links */
    margin: 0 15px; /* Add margin to create space between list items */
    font-size: 1.2rem;
    color: black;
    position: relative;
}

.center li a:hover::after {
    content: ''; /* Add a pseudo-element for the underline */
    position: absolute; /* Position the underline relative to the <a> element */
    left: 0;
    right: 0;
    bottom: -3px; /* Adjust the position of the underline as needed */
    border-bottom: 2px solid #eb3941; /* Define the underline style */
    color: #eb3941;
}

.button {
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
    
    font-size: 1.3rem;
    overflow: hidden;
    cursor: pointer;

}



.checkBtn {
    display: none;
}

#check {
    display: none;
}


.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #f7f1f1;
}

.main .main-left{
    width: 50%;
    margin-left: 50px;
}

.main .main-right{
    width: 50%;
}

.main .main-left h1{
    font-size: 80px;
}

.main-left p{
    margin: 50px 0;
    font-size: 20px;
}

.main-left button{
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
    border-radius: 20px;
    padding: 15px;
    font-size: 1.1rem;
    margin-left: 15px;
    cursor: pointer;
}

.main-right img {
    width: 600px;
    height: 600px;
    
}

.choose-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.choose-container .information h1{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.choose-container .information p{
    font-size: 20px;
    margin-top: 20px;
    color: gray;
    line-height: 20px;
    font-weight: 400;
}

.cards .card img {
    width: 80px;
    height: 80px;
    background-color: transparent;
    margin-left: 70px;
    
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    flex-wrap: wrap;
}

.card {
    width: 260px; /* Adjust this width to your needs */
    background-color:  #f7f1f1;
    border-radius: 15px;
    margin-right: 40px;
    padding: 20px;
     /* Add margin-right to create space between cards */
}


.card h3{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.card p{
    font-size: 15px;
    margin-top: 15px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(88, 87, 87);
}










@media screen and (max-width:768px) {
    .list {
        width: 100%;
        gap: 30px;
        background-color: #f7f1f1;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
    }

    

    #check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

    .nobutton{
        display: none;
    }


    .main {
        flex-direction: column; /* Stack elements vertically */
        text-align: center; /* Center-align text */
    }

    .main .main-left, .main .main-right {
        width: 100%;
        margin-left: 0;
    }

    .main .main-left h1 {
        font-size: 30px; /* Reduced font size for h1 on mobile */
        margin-right: 0; /* Remove margin for mobile */
    }

    .main-left p {
        margin: 15px 0; /* Reduced margin for mobile */
        font-size: 12px; /* Reduced font size for paragraphs on mobile */
    }

    .main-left button {
        margin: 10px 0;
        font-size: 0.8rem; /* Reduced font size for button on mobile */
    }

    .main-right img {
        width: 300px; /* Reduced width on mobile */
        height: 300px; /* Reduced height on mobile */
    }
}